/* General */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

/* Header */

header{
    display: flex;
    justify-content: flex-end;   
}

header p{
    padding: 7px 8px;
    background-color: rgb(74, 74, 74);
    border-radius: 6px;
    margin: 8px 8px;
    font-size: 18px;
}

header p .fa-arrows-alt{
    transform: rotate(45deg);
    font-size: 20px;
}

/* Main */

main{
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.bg-img{
    height: 200px;
    width: 350px;
    background-image: url(https://picsum.photos/id//200/300);
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 5px;
    width: 40%;
    font-size: 18px;
}

/* Navbar */

Nav{
    height: 150px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav, .mid-nav, .right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-item{
    text-align: center;
    height: 100%;
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

i:hover{
    cursor: pointer;
}

.nav-item > i{
    font-size: 35px;
}

.nav-item > span{
    font-size: 17px;
    padding-top: 10px;
}

.fa-share-square{
    color: rgb(75, 200, 0);
}

.right-nav{
    background-color: rgb(74, 74, 74);
    height: 100%;
    padding: 0 30px;
    color: red;
}